@font-face {
    font-family: 'aliceregular';
    src: url('assets/fonts/Alice-Regular-webfont.eot');
    src: url('assets/fonts/Alice-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Alice-Regular-webfont.woff2') format('woff2'),
         url('assets/fonts/Alice-Regular-webfont.woff') format('woff'),
         url('assets/fonts/Alice-Regular-webfont.ttf') format('truetype'),
         url('assets/fonts/Alice-Regular-webfont.svg#aliceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

:root {
    --color1: #62bbd3;
    --color2: #80c9dd;
    --color2-1: #fff;
    --color3: #d5eaf0;
}

body {
    background-color: var(--color1);
    background-image: linear-gradient(30deg, var(--color2) 12%, transparent 12.5%, transparent 87%, var(--color2) 87.5%, var(--color2)),
    linear-gradient(150deg, var(--color2) 12%, transparent 12.5%, transparent 87%, var(--color2) 87.5%, var(--color2)),
    linear-gradient(30deg, var(--color2) 12%, transparent 12.5%, transparent 87%, var(--color2) 87.5%, var(--color2)),
    linear-gradient(150deg, var(--color2) 12%, transparent 12.5%, transparent 87%, var(--color2) 87.5%, var(--color2)),
    linear-gradient(60deg, var(--color3) 25%, transparent 25.5%, transparent 75%, var(--color3) 75%, var(--color3)), 
    linear-gradient(60deg, var(--color3) 25%, transparent 25.5%, transparent 75%, var(--color3) 75%, var(--color3));
    background-size: 40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
}

#canvas {
    background: none;
    background-color: transparent;
    z-index: 1;
    cursor: none;
}

.hidden {
    display: none;
}

.cat-img {
    width: 7%;
}

.cat-img.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.pointer {
    z-index: 10;
}

#postcard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    /* height: 500px; */
    margin-left: -305px;
    margin-top: -250px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    padding: 30px;
    display: none;
}

#postcard-header {
    color: #498c9e;
}

#postcard-text {
    text-align: justify;
    margin-top: 15px;
    font-size: 16pt;
}

.github-corner:hover {
    cursor: pointer;
}
